body {
    background-image: url("../img/arctic-sun-2.jpg");
    background-size: cover; 
    background-position: center; /* Centralizar a imagem */
    background-repeat: no-repeat; /* Evita repetir a imagem */
    height: 100vh; /* fundo ocupando 100% da altura da tela */
    margin: 0; 
}

.card {
    background: rgba(255, 255, 255, 0.85); /* Fundo branco com opacidade */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adicionar sombra */
}
